// theme variables
$color1: #e01258;
$color2: #ec3211;
$white: #fff;
$black: #232323;

// social colors
$mail: $color1;
$twitter: #55acee;
$linkedin: #0077b5;
$facebook: #3b5998;
$medium: #00ab6b;
$github: #2f2f2f;
$codepen: #212121;
$lastfm: #c3000d;
$google-plus: #dc4e41;

$social-icons: (
  mail: $mail,
  twitter: $twitter,
  linkedin: $linkedin,
  facebook: $facebook,
  medium: $medium,
  github: $github,
  codepen: $codepen,
  lastfm: $lastfm,
  google-plus: $google-plus
);

// sass-mq breakpoints
$mq-mobile: 332px;
$mq-desktop: 652px;

$mq-breakpoints: (mobile: $mq-mobile, desktop: $mq-desktop);

// default font-size
$browser-context: 16px; // Default

// modular scale
$modularscale: (base: 1em, ratio: 1.125);

// animation and transition
$timing--default: cubic-bezier(0.3, .6, .5, .81);
$timing--jump: cubic-bezier(0, 1.23, .45, 1.23);
$timing--hop: cubic-bezier(0, 1.11, .6, 1.11);
