* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  critical: this;
  margin-top: ms(-1);
}

a:not([class]) {
  critical: this;
  @include link-reset(inline);
  padding: 1px;
  color: $color2;
  border-radius: 2px;
  transition: background-color .18s ease-in-out, color .18s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background-color: lighten($color1, 25%);
    color: $white;
  }

  &#more {
    critical: this;
    display: none;
  }

  @include mq($until: mobile) {
    critical: this;
    word-break: break-all;
  }
}

hr {
  @include border-bottom(24px, 100%);
  border: 0;
  height: 0;
  margin-bottom: 24px;
}

blockquote {
  @include border-left;
  font-size: ms(0);
  margin-top: ms(2);
  margin-bottom: ms(2);
  font-weight: 500;
  font-style: italic;
  padding-top: 6px;
  padding-bottom: 6px;
  color: lighten($black, 25%);

  p {
    margin: 0;
  }
}

ul:not([class]),
ol:not([class]) {
  margin-left: 24px;
}

code,
figure {
  background-image: radial-gradient(
    circle at center right,
    transparentize($color1, .84),
    transparentize($color2, .9)
  );
}

code {
  padding: 2px 4px;
  white-space: pre-wrap;
}

pre code,
figure {
  display: block;
  padding: 12px 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid lighten($color1, 15%);
  padding: 3px;
}

th {
  color: $color2;
}

figure {
  width: 100%;
  overflow: auto;

  table {
    margin-bottom: 0;
    max-width: 100%;
    width: auto;
  }

  th,
  td {
    border: 0;
    padding: 0 6px;
  }
}

a[href*=".gif"],
a[href*=".png"],
a[href*=".jpg"],
a[href*=".jpeg"] {
  critical: this;
  display: block;
  text-align: center;
  padding: 0;

  &:hover,
  &:focus,
  &:active {
    background-color: inherit;
  }
}

img {
  critical: this;
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
