.doodle--horsy {
  critical: this;
  opacity: 0;
}

.doodle--horsy {
  @include appear(3s, 1s, $timing--default, "false");
  height: 4em;
  width: 5em;
  position: absolute;
  left: 6px;
  top: 6px;
  transform: scaleX(-1);
}

.doodle__group {
  stroke: $color1;
  transition: stroke .33s ease-in-out;

  .doodle--horsy:hover &,
  .doodle--horsy:focus &,
  .doodle--horsy:active & {
    stroke: $color2;
  }
}
