.footer {
  padding: 6px;
  background-image: radial-gradient(
    circle at center bottom,
    transparentize($color1, .25),
    transparentize($color2, .25)
  );
}

.footer-logo__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: $white;
  padding: 6px;
  margin-bottom: 6px;
  position: relative;
  z-index: 1;

  @include mq($from: mobile) {
    margin-top: -30px;
  }
}

.copyright {
  @include wrapper;
  font-size: ms(-3);
  padding: 3px;
  text-align: center;
  color: $white;
}
