.header {
  critical: this;
  padding: 6px;
  background-image: radial-gradient(
    circle at center bottom,
    transparentize($color2, .33),
    transparentize($color1, .33)
  );
}

.header__list {
  critical: this;
  @include wrapper;
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @include mq($from: mobile) {
    critical: this;
    overflow: visible;
  }
}

.header__item {
  critical: this;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 20%;

  &:nth-child(2),
  &:nth-child(3) {
    @include mq($from: mobile) {
      critical: this;
      order: 0;
    }
  }

  &:nth-child(4),
  &:nth-child(5) {
    @include mq($from: mobile) {
      critical: this;
      order: 2;
    }
  }

  @include mq($until: mobile) {
    padding: 6px;
    width: 50%;
  }
}

.header__item--logo {
  critical: this;
  z-index: 1;

  @include mq($from: mobile) {
    critical: this;
    order: 1;
  }

  @include mq($until: mobile) {
    width: 100%;
  }
}

.header__link {
  critical: this;
  @include link-reset(block);
  color: $white;
  padding-bottom: 3px;
  text-shadow: 0 1px 0 $color1;
  position: relative;
  overflow: hidden;

  &:not(.header__link--logo) {
    &::after {
      content: "";
      position: absolute;
      top: calc(100% - 6px);
      left: 0;
      right: 0;
      height: 2px;
      margin-top: 3px;
      border-radius: 1px;
      transform-origin: center center;
      background-image: radial-gradient(
        circle at center,
        transparentize($white, .25),
        transparentize($white, .33)
      );
      transform: scale(0);
      transition: transform .15s ease-out;
    }

    &:hover::after,
    &:focus::after,
    &:active::after {
      transform: scale(1);
    }
  }
}

.header__link--logo {
  critical: this;
  border-radius: 50%;
  background-color: $white;
  padding: 6px;

  @include mq($from: mobile) {
    critical: this;
    margin-bottom: -35px;
  }
}

.header__image {
  critical: this;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
