.tags__link {
  @include link-reset;
  font-size: ms(-1);
  background-image: radial-gradient(
    circle at center left,
    transparentize($color1, .33),
    transparentize($color2, .33)
  );
  color: $white;
  padding: 3px 6px;
  margin-bottom: 6px;
  margin-right: 6px;
  border-radius: 3px;
  transition: background-color .15s ease-in-out;

  &::before {
    content: "#";
    margin-right: 3px;
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: $color1;
  }
}
