body {
  color: $color-gamma;
  font-family: serif;
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include ls(50);
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.fonts-stage-1 body {
  font-family: $font-alpha-subset;
  font-style: normal;
  font-weight: 400;
}

.fonts-stage-1 h1,
.fonts-stage-1 h2,
.fonts-stage-1 h3,
.fonts-stage-1 h4,
.fonts-stage-1 h5,
.fonts-stage-1 h6 {
  font-family: $font-beta-subset;
}

.fonts-stage-2 body {
  font-family: $font-alpha;
}

.fonts-stage-2 h1,
.fonts-stage-2 h2,
.fonts-stage-2 h3,
.fonts-stage-2 h4,
.fonts-stage-2 h5,
.fonts-stage-2 h6 {
  font-family: $font-beta;
}

code {
  font-family: $font-gamma;
}
