body {
  font-family: serif;
  color: $black;
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  @include ls(50);
}

.fonts-stage-1 body {
  font-family: $font-family1-subset;
  font-style: normal;
  font-weight: 400;
}

.fonts-stage-3 h1,
.fonts-stage-3 h2,
.fonts-stage-3 h3,
.fonts-stage-3 h4,
.fonts-stage-3 h5,
.fonts-stage-3 h6 {
  font-family: $font-family2-subset;
}

.fonts-stage-2 body {
  font-family: $font-family1;
}

.fonts-stage-4 h1,
.fonts-stage-4 h2,
.fonts-stage-4 h3,
.fonts-stage-4 h4,
.fonts-stage-4 h5,
.fonts-stage-4 h6 {
  font-family: $font-family2;
}

code {
  font-family: $font-family-code;
}
