ul.breadcrumb
  li.breadcrumb__text Location:
  li.breadcrumb__item
    a.breadcrumb__link(href="/") Home
  if (page && page.categories)
    each cat in page.categories
      li.breadcrumb__item
        a.breadcrumb__link(href=cat.permalink)= cat.name
  if (page && page.title)
    li.breadcrumb__item
      a.breadcrumb__link(href=page.permalink)= page.title
