//- <div class="contact">
//-   <div class="contact__info">
//-     <p>Was this article helpful? I can help you with your project.</p>
//-     <p><%- link_to('/hire-me', 'Contact me!', {
//-       class: 'contact__link'
//-     }) %></p>
//-   </div>
//- </div>
