//- <article class="article__item article__item--list">
//-   <header class="article__header">
//-     <% if(item.thumbnail) { %>
//-       <% var img_big = item.thumbnail.replace('upload/', 'upload/f_auto,q_auto,w_640/'); %>
//-       <% var img_small = item.thumbnail.replace('upload/', 'upload/f_auto,q_auto,w_320/'); %>
//-       <a class="article__thumbnail" href="/<%= item.path %>" alt="<%= item.title %>">
//-         <img src="<%= img_big %>" class="article__thumbnail-image" alt="<%= item.title %>" srcset="<%= img_small %> 320w, <%= img_big %> 640w" sizes="(max-width: 340px) 320px, 640px">
//-       </a>
//-     <% } %>
//-     <h2 class="article__title article__title--list">
//-       <%- link_to(item.path, item.title, {
//-         class: 'article__title-link'
//-       }) %>
//-     </h2>
//-     <div class="article__meta">
//-       <span class="article__meta-item">
//-         <span class="article__meta-inner">On: <%= item.date.format(config.date_format) %></span>
//-       </span>
//-       <% if(item.author) { %>
//-         <span class="article__meta-item">
//-           <span class="article__meta-inner">By: <%- item.author %></span>
//-         </span>
//-       <% } %>
//-     </div>
//-   </header>

//-   <% if(item.excerpt) { %>
//-     <div class="article__content">
//-       <%- item.excerpt %>
//-     </div>
//-   <% } %>

//-   <footer class="article__footer article__footer--list">
//-     <%- link_to(item.path, 'Read more', {
//-       class: 'article__link'
//-     }) %>
//-   </footer>
//- </article>
