nav.pagination
  ul.pagination__list
    if (page.prev)
      .pagination__item
        a.pagination__link(href=page.prev_link) Previous
    if (page.next)
      .pagination__item
        a.pagination__link(href=page.next_link) Next
