//- <% if(theme.sharing) { %>
//-   <div class="social">
//-     <% if(theme.sharing.twitter) { %>
//-       <% var twitterLink = "https://twitter.com/intent/tweet?url=" + item.permalink + "&text=" + item.title + "&via=" + theme.sharing.twitter; %>
//-       <%- link_to(twitterLink, "Share on Twitter", {
//-         external: true,
//-         class: "social__button social__button--twitter"
//-       }) %>
//-     <% } %>
//-     <% if(theme.sharing.facebook) { %>
//-       <% var facebookLink = "https://facebook.com/sharer.php?u=" + item.permalink; %>
//-       <%- link_to(facebookLink, "Share on Facebook", {
//-         external: true,
//-         class: "social__button social__button--facebook"
//-       }) %>
//-     <% } %>
//-   </div>
//- <% } %>
