//- <% if (item.tags && item.tags.length){ %>
//-   <div class="tags">
//-     <% item.tags.each(function(tag) { %>
//-       <%- link_to(tag.path, tag.name, {
//-         class: "tags__link"
//-       }) %>
//-     <% }) %>
//-   </div>
//- <% } %>
