- var title = '';

if (page && page.category)
  title = 'Category: ' + page.category;
else if (page && page.tag)
  title = 'Tag: ' + page.tag;
else if (page && page.archive)
  if (page.year)
    title = page.year + (page.month ? '/' + page.month : '');
  else
    title = "Archives";

if (title)
  h1.archive__title= title

- if(page && page.posts)
  .article-list
    each post in page.posts
      include article/list
    include article/pagination
