footer.footer
  if (theme && theme.widgets.contact)
    include widget/contact
  if (theme && theme.site.short_name)
    .copyright
      p "&copy; + #{theme.site.short_name} + #{new Date().getFullYear()}"

if (theme && theme.widgets.google_analytics)
  include widget/ga

if (item && item.layout == "post" && theme && theme.widgets.disqus)
  include widget/disqus

include footer/style
