footer
  h1 Footer
//- <%- partial('banner', {pos: 'bottom'}) %>
//- <footer class="footer">
//-   <%- partial('footer/logo') %>
//-   <% for(var widget in theme.widgets){ %>
//-     <%- partial('widget/' + widget) %>
//-   <% }; %>
//-   <%- partial('footer/copyright') %>
//- </footer>
//- <%- partial('footer/style') %>
//- <%- partial('footer/disqus') %>
//- <%- partial('footer/ga') %>
//- <%- partial('footer/webfont') %>
