@charset "UTF-8";
@-webkit-keyframes appear {
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
@keyframes appear {
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
* {
  font-weight: 300; }
strong,
strong *,
b,
b * {
  font-weight: 500; }
pre,
pre *,
code,
code * {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400; }
  @media screen and (min-width: 332px) { }
  @media screen and (min-width: 652px) { }
  @supports (display: grid) { }
  @media (min-width: 40.75em) { }
  @media (max-width: 40.74em) { }
  @media screen and (min-width: 332px) { }
  @media screen and (min-width: 652px) { }
  @media (min-width: 40.75em) { }
  @media (max-width: 40.74em) { }
  @media (min-width: 20.75em) { }
  @media (min-width: 20.75em) { }
  @media (min-width: 20.75em) { }
  @media (max-width: 20.74em) {
    .header__item {
      padding: 6px;
      width: 50%; } }
  @media (min-width: 20.75em) { }
  @media (max-width: 20.74em) {
    .header__item--logo {
      width: 100%; } }
  .header__link:not(.header__link--logo)::after {
    content: "";
    position: absolute;
    top: calc(100% - 6px);
    left: 0;
    right: 0;
    height: 2px;
    margin-top: 3px;
    border-radius: 1px;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    background-image: -webkit-radial-gradient(center, circle, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.67));
    background-image: -o-radial-gradient(center, circle, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.67));
    background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.67));
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .15s ease-out;
    transition: -webkit-transform .15s ease-out;
    -o-transition: transform .15s ease-out;
    transition: transform .15s ease-out;
    transition: transform .15s ease-out, -webkit-transform .15s ease-out; }
  .header__link:not(.header__link--logo):hover::after, .header__link:not(.header__link--logo):focus::after, .header__link:not(.header__link--logo):active::after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  @media (min-width: 20.75em) { }
  @supports (display: grid) {
    .banner--top {
      -webkit-animation: appear 1.33s cubic-bezier(0.3, 0.6, 0.5, 0.81) 0.33s forwards;
      animation: appear 1.33s cubic-bezier(0.3, 0.6, 0.5, 0.81) 0.33s forwards; } }
.banner--bottom {
  background-image: -webkit-radial-gradient(center bottom, circle, rgba(224, 18, 88, 0.56), rgba(236, 50, 17, 0.56));
  background-image: -o-radial-gradient(center bottom, circle, rgba(224, 18, 88, 0.56), rgba(236, 50, 17, 0.56));
  background-image: radial-gradient(circle at center bottom, rgba(224, 18, 88, 0.56), rgba(236, 50, 17, 0.56)); }
  @media (min-width: 40.75em) { }
  @media (max-width: 40.74em) { }
  @media (min-width: 20.75em) { }
  @media (max-width: 20.74em) { }
  @media (max-width: 20.74em) { }
  @media (min-width: 20.75em) {
      .banner__info:nth-child(2) {
        text-align: right; } }
.banner--top .banner__info {
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0; }
  @supports (display: grid) {
    .banner--top .banner__info:nth-child(1) {
      -webkit-animation: appear 0.33s cubic-bezier(0, 1.23, 0.45, 1.23) 1.23s forwards;
      animation: appear 0.33s cubic-bezier(0, 1.23, 0.45, 1.23) 1.23s forwards; } }
  @supports (display: grid) {
    .banner--top .banner__info:nth-child(2) {
      -webkit-animation: appear 0.33s cubic-bezier(0, 1.23, 0.45, 1.23) 1.5s forwards;
      animation: appear 0.33s cubic-bezier(0, 1.23, 0.45, 1.23) 1.5s forwards; } }
  .banner__link:hover, .banner__link:focus, .banner__link:active {
    background-color: #fff;
    color: #e01258; }
  .breadcrumb__link:hover, .breadcrumb__link:focus, .breadcrumb__link:active {
    background-color: #f57da6;
    color: #fff; }
  .article__title:hover, .article__title:focus, .article__title:active {
    color: #e01258; }
  @media (max-width: 20.74em) {
    .article__meta {
      margin-bottom: 6px; } }
  .article__link::after {
    content: "⇢";
    margin-left: 3px; }
  .article__link:hover, .article__link:focus, .article__link:active {
    color: #fff;
    background-color: #e01258; }
.article__footer--post {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  a:not([class]):hover, a:not([class]):focus, a:not([class]):active {
    background-color: #f57da6;
    color: #fff; }
  @media (max-width: 20.74em) { }
hr {
  border: 0;
  height: 0;
  margin-bottom: 24px; }
blockquote {
  padding-left: 24px;
  position: relative;
  font-size: 1em;
  margin-top: 1.26562em;
  margin-bottom: 1.26562em;
  font-weight: 500;
  font-style: italic;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #636363; }
  blockquote::before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 2px;
    border-radius: 1px;
    background-image: -webkit-radial-gradient(center, circle, rgba(224, 18, 88, 0.15), rgba(236, 50, 17, 0.15));
    background-image: -o-radial-gradient(center, circle, rgba(224, 18, 88, 0.15), rgba(236, 50, 17, 0.15));
    background-image: radial-gradient(circle at center, rgba(224, 18, 88, 0.15), rgba(236, 50, 17, 0.15)); }
  blockquote p {
    margin: 0; }
ul:not([class]),
ol:not([class]) {
  margin-left: 24px; }
code,
figure {
  background-image: -webkit-radial-gradient(center right, circle, rgba(224, 18, 88, 0.16), rgba(236, 50, 17, 0.1));
  background-image: -o-radial-gradient(center right, circle, rgba(224, 18, 88, 0.16), rgba(236, 50, 17, 0.1));
  background-image: radial-gradient(circle at center right, rgba(224, 18, 88, 0.16), rgba(236, 50, 17, 0.1)); }
code {
  padding: 2px 4px;
  white-space: pre-wrap; }
pre code,
figure {
  display: block;
  padding: 12px 15px; }
table {
  width: 100%;
  border-collapse: collapse; }
th,
td {
  border: 1px solid #f14e85;
  padding: 3px; }
th {
  color: #ec3211; }
figure {
  width: 100%;
  overflow: auto; }
  figure table {
    margin-bottom: 0;
    max-width: 100%;
    width: auto; }
  figure th,
  figure td {
    border: 0;
    padding: 0 6px; }
  a[href*=".gif"]:hover, a[href*=".gif"]:focus, a[href*=".gif"]:active,
  a[href*=".png"]:hover,
  a[href*=".png"]:focus,
  a[href*=".png"]:active,
  a[href*=".jpg"]:hover,
  a[href*=".jpg"]:focus,
  a[href*=".jpg"]:active,
  a[href*=".jpeg"]:hover,
  a[href*=".jpeg"]:focus,
  a[href*=".jpeg"]:active {
    background-color: inherit; }
.tags__link {
  text-decoration: none;
  display: inline-block;
  font-size: 0.88889em;
  background-image: -webkit-radial-gradient(center left, circle, rgba(224, 18, 88, 0.67), rgba(236, 50, 17, 0.67));
  background-image: -o-radial-gradient(center left, circle, rgba(224, 18, 88, 0.67), rgba(236, 50, 17, 0.67));
  background-image: radial-gradient(circle at center left, rgba(224, 18, 88, 0.67), rgba(236, 50, 17, 0.67));
  color: #fff;
  padding: 3px 6px;
  margin-bottom: 6px;
  margin-right: 6px;
  border-radius: 3px;
  -webkit-transition: background-color .15s ease-in-out;
  -o-transition: background-color .15s ease-in-out;
  transition: background-color .15s ease-in-out; }
  .tags__link::before {
    content: "#";
    margin-right: 3px; }
  .tags__link:hover, .tags__link:focus, .tags__link:active {
    color: #fff;
    background-color: #e01258; }
.social__button {
  text-decoration: none;
  display: inline-block;
  font-size: 0.88889em;
  color: #fff;
  padding: 3px 6px;
  margin-bottom: 6px;
  border-radius: 3px;
  -webkit-transition: background-color .15s ease-in-out;
  -o-transition: background-color .15s ease-in-out;
  transition: background-color .15s ease-in-out; }
  .social__button:not(:last-child) {
    margin-right: 6px; }
  .social__button:hover, .social__button:focus, .social__button:active {
    color: #fff; }
.social__button--twitter {
  background-image: -webkit-radial-gradient(center center, circle, rgba(85, 172, 238, 0.82), rgba(85, 172, 238, 0.64));
  background-image: -o-radial-gradient(center center, circle, rgba(85, 172, 238, 0.82), rgba(85, 172, 238, 0.64));
  background-image: radial-gradient(circle at center center, rgba(85, 172, 238, 0.82), rgba(85, 172, 238, 0.64)); }
  .social__button--twitter:hover, .social__button--twitter:focus, .social__button--twitter:active {
    background-color: #55acee; }
.social__button--facebook {
  background-image: -webkit-radial-gradient(center center, circle, rgba(59, 89, 152, 0.82), rgba(59, 89, 152, 0.64));
  background-image: -o-radial-gradient(center center, circle, rgba(59, 89, 152, 0.82), rgba(59, 89, 152, 0.64));
  background-image: radial-gradient(circle at center center, rgba(59, 89, 152, 0.82), rgba(59, 89, 152, 0.64)); }
  .social__button--facebook:hover, .social__button--facebook:focus, .social__button--facebook:active {
    background-color: #3b5998; }
.contact {
  font-size: 0.88889em;
  margin-top: 15px;
  color: #515151; }
  .contact::after {
    content: "";
    display: block;
    max-width: 100%;
    width: 100px;
    height: 2px;
    margin-top: 12px;
    border-radius: 1px;
    background-image: -webkit-radial-gradient(center, circle, rgba(224, 18, 88, 0.15), rgba(236, 50, 17, 0.15));
    background-image: -o-radial-gradient(center, circle, rgba(224, 18, 88, 0.15), rgba(236, 50, 17, 0.15));
    background-image: radial-gradient(circle at center, rgba(224, 18, 88, 0.15), rgba(236, 50, 17, 0.15)); }
  @media (min-width: 40.75em) {
    .contact {
      text-align: center; } }
.contact__info p {
  margin-bottom: 0; }
.contact__link {
  text-decoration: none;
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 3px 6px;
  border-radius: 2px;
  color: #f15a3f;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-transition: background-color .18s ease-in-out, color .18s ease-in-out;
  -o-transition: background-color .18s ease-in-out, color .18s ease-in-out;
  transition: background-color .18s ease-in-out, color .18s ease-in-out; }
  .contact__link:hover, .contact__link:focus, .contact__link:active {
    background-color: rgba(236, 50, 17, 0.67);
    color: #fff; }
.pagination {
  margin-top: 24px; }
.pagination__list {
  list-style: none;
  font-size: 0.79012em;
  margin-top: 6px; }
.pagination__item {
  display: inline-block;
  background-image: -webkit-radial-gradient(top left, circle, rgba(236, 50, 17, 0.9), rgba(224, 18, 88, 0.9));
  background-image: -o-radial-gradient(top left, circle, rgba(236, 50, 17, 0.9), rgba(224, 18, 88, 0.9));
  background-image: radial-gradient(circle at top left, rgba(236, 50, 17, 0.9), rgba(224, 18, 88, 0.9));
  padding: 1px;
  border-radius: 3px;
  position: relative; }
.pagination__link {
  text-decoration: none;
  display: block;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #fff;
  color: #ec3211;
  -webkit-transition: background-color .15s ease-in-out, color .15s ease-in-out;
  -o-transition: background-color .15s ease-in-out, color .15s ease-in-out;
  transition: background-color .15s ease-in-out, color .15s ease-in-out; }
  .pagination__link:hover, .pagination__link:focus, .pagination__link:active {
    background-color: transparent;
    color: #fff; }
.pagination__link--previous::before {
  content: "⇠";
  margin-right: 3px; }
.pagination__link--next::after {
  content: "⇢";
  margin-left: 3px; }
.comments {
  padding-top: 24px; }
  @media (min-width: 40.75em) { }
  @media (max-width: 40.74em) { }
  @media (min-width: 20.75em) {
    .widget-contact {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; } }
.widget-contact__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%; }
  @media (min-width: 20.75em) {
    .widget-contact__item {
      width: 25%; } }
.widget-contact__link {
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 0.79012em;
  padding: 9px 3px;
  color: #fff;
  -webkit-transition: background-color .15s ease-in-out .03s;
  -o-transition: background-color .15s ease-in-out .03s;
  transition: background-color .15s ease-in-out .03s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .font-awesome path {
    fill: #fff; }
.widget-contact__link--mail:hover, .widget-contact__link--mail:focus, .widget-contact__link--mail:active {
  background-color: #e01258; }
.widget-contact__link--twitter:hover, .widget-contact__link--twitter:focus, .widget-contact__link--twitter:active {
  background-color: #55acee; }
.widget-contact__link--linkedin:hover, .widget-contact__link--linkedin:focus, .widget-contact__link--linkedin:active {
  background-color: #0077b5; }
.widget-contact__link--facebook:hover, .widget-contact__link--facebook:focus, .widget-contact__link--facebook:active {
  background-color: #3b5998; }
.widget-contact__link--medium:hover, .widget-contact__link--medium:focus, .widget-contact__link--medium:active {
  background-color: #00ab6b; }
.widget-contact__link--github:hover, .widget-contact__link--github:focus, .widget-contact__link--github:active {
  background-color: #2f2f2f; }
.widget-contact__link--codepen:hover, .widget-contact__link--codepen:focus, .widget-contact__link--codepen:active {
  background-color: #212121; }
.widget-contact__link--lastfm:hover, .widget-contact__link--lastfm:focus, .widget-contact__link--lastfm:active {
  background-color: #c3000d; }
.widget-contact__link--google-plus:hover, .widget-contact__link--google-plus:focus, .widget-contact__link--google-plus:active {
  background-color: #dc4e41; }
.footer {
  padding: 6px;
  background-image: -webkit-radial-gradient(center bottom, circle, rgba(224, 18, 88, 0.75), rgba(236, 50, 17, 0.75));
  background-image: -o-radial-gradient(center bottom, circle, rgba(224, 18, 88, 0.75), rgba(236, 50, 17, 0.75));
  background-image: radial-gradient(circle at center bottom, rgba(224, 18, 88, 0.75), rgba(236, 50, 17, 0.75)); }
.footer-logo__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: #fff;
  padding: 6px;
  margin-bottom: 6px;
  position: relative;
  z-index: 1; }
  @media (min-width: 20.75em) {
    .footer-logo__image {
      margin-top: -30px; } }
  @media (min-width: 40.75em) { }
  @media (max-width: 40.74em) { }
.ciu_embed {
  margin-bottom: 0; }
  .ciu_embed iframe {
    margin-bottom: -0.79012em; }
