<% if (theme.webfont_family){ %>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: [<% theme.webfont_family.forEach(function(family, i) { %>'<%= family %>'<%= i === (theme.webfont_family.length - 1) ? '' : ',' %><% }) %>]
      }
    });
  </script>
<% } %>
