noscript(id="deferredStyles")
  link(rel="stylesheet", href="/css/foft.min.css")
  link(rel="stylesheet", href="/css/style.min.css")

| <script>
include ../../../source/js/deferredStyles.min.js
| </script>

