.archive__title {
  critical: this;
  @include border-bottom;
  font-size: ms(4);
  color: $color1;
}

.article__item--list {
  &:not(:last-of-type) {
    critical: this;
    @include border-bottom(36px);
    margin-bottom: 36px;
  }
}

.article__content,
.article__footer {
  critical: this;
  margin-top: 24px;
}

.article__title {
  critical: this;
  font-size: ms(4);
  color: $color2;
  transition: color .15s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    color: $color1;
  }
}

.article__title--list {
  critical: this;
  margin-bottom: 18px;
}

.article__title--post {
  critical: this;
  margin-bottom: 24px;
}

.article__title-link {
  critical: this;
  @include link-reset;
  color: inherit;
}

.article__details {
  critical: this;
  align-items: baseline;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.article__meta {
  critical: this;
  font-size: ms(-2);
  margin-right: 6px;

  @include mq($until: mobile) {
    margin-bottom: 6px;
  }
}

.article__meta-item {
  critical: this;
  display: inline-block;
  background-image: radial-gradient(
    circle at top left,
    transparentize($color1, .1),
    transparentize($color2, .1)
  );
  padding: 1px;
  border-radius: 3px;
}

.article__meta-inner {
  critical: this;
  display: block;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: $white;
  color: $color1;
}

.article__link {
  critical: this;
  @include link-reset;
  font-size: ms(-1);
  background-image: radial-gradient(
    circle at center left,
    transparentize($color1, .33),
    transparentize($color2, .33)
  );
  color: $white;
  padding: 3px 6px;
  border-radius: 3px;
  transition: background-color .15s ease-in-out;

  &::after {
    content: "⇢";
    margin-left: 3px;
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: $color1;
  }
}

.article__header--post,
.article__title--post:not(:last-child) {
  critical: this;
  @include border-bottom;
}

.article__content--post:not(:last-child),
.article__item--post {
  @include border-bottom(18px);
}

.article__footer--post {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
