.banner {
  critical: this;
  font-size: ms(-1);
}

.banner--top {
  critical: this;
  @include appear(1.33s, .33s, $timing--default, "false");
  opacity: 0;
  background-image: radial-gradient(
    circle at top center,
    transparentize($color2, .44),
    transparentize($color1, .44)
  );
}

.banner--bottom {
  background-image: radial-gradient(
    circle at center bottom,
    transparentize($color1, .44),
    transparentize($color2, .44)
  );
}

.banner__content {
  critical: this;
  @include wrapper;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include mq($from: mobile) {
    critical: this;
    flex-direction: row;
    justify-content: space-between;
  }

  @include mq($until: mobile) {
    critical: this;
    text-align: center;
  }
}

.banner__info {
  critical: this;
  padding: 6px 0;
  margin-bottom: 0;
  color: $white;
  text-shadow: 0 1px 0 $color2;

  @include mq($until: mobile) {
    critical: this;
    flex: 1 1 auto;
    width: 100%;
  }

  @include mq($from: mobile) {
    critical: this;
    flex: 0 0 auto;
    width: calc(50% - 32px);

    &:nth-child(2) {
      text-align: right;
    }
  }
}

.banner__info {
  .banner--top & {
    transform-origin: center center;
    transform: scale(.5);
    opacity: 0;

    &:nth-child(1) {
      @include appear(.33s, 1.23s, $timing--jump, "false");
    }

    &:nth-child(2) {
      @include appear(.33s, 1.5s, $timing--jump, "false");
    }
  }
}

.banner__link {
  critical: this;
  @include link-reset(inline-block);
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 3px 6px;
  border-radius: 2px;
  background-color: transparentize($color1, .5);
  color: $white;
  text-shadow: none;
  text-transform: uppercase;
  transition: background-color .18s ease-in-out, color .18s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background-color: $white;
    color: $color1;
  }
}
