h1,
h2,
h3,
h4,
h5,
h6,
p,
ul:not([class]),
ol:not([class]),
iframe,
code,
figure,
table {
  critical: this;
  line-height: 1.5;
  margin-bottom: ms(-1);
}

h1 {
  critical: this;
  font-size: ms(6);
}

h2 {
  critical: this;
  font-size: ms(5);
}

h3 {
  critical: this;
  font-size: ms(4);
}

h4 {
  critical: this;
  font-size: ms(3);
}

h5 {
  critical: this;
  font-size: ms(2);
}

h6 {
  critical: this;
  font-size: ms(1);
}

p,
ul:not([class]),
ol:not([class]),
iframe {
  critical: this;
  font-size: ms(0);
}

code,
figure,
table {
  critical: this;
  font-size: ms(-1);
}
