.pagination {
  margin-top: 24px;
}

.pagination__list {
  @include list-reset;
  font-size: ms(-2);
  margin-top: 6px;
}

.pagination__item {
  display: inline-block;
  background-image: radial-gradient(
    circle at top left,
    transparentize($color2, .1),
    transparentize($color1, .1)
  );
  padding: 1px;
  border-radius: 3px;
  position: relative;
}

.pagination__link {
  @include link-reset(block);
  padding: 2px 4px;
  border-radius: 2px;
  background-color: $white;
  color: $color2;
  transition: background-color .15s ease-in-out, color .15s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: $white;
  }
}

.pagination__link--previous {
  &::before {
    content: "⇠";
    margin-right: 3px;
  }
}

.pagination__link--next {
  &::after {
    content: "⇢";
    margin-left: 3px;
  }
}
