.widget-contact {
  @include wrapper;
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 3px;

  @include mq($from: mobile) {
    flex-direction: row;
  }
}

.widget-contact__item {
  flex: 0 0 auto;
  width: 100%;

  @include mq($from: mobile) {
    width: 25%;
  }
}

.widget-contact__link {
  @include link-reset(block);
  width: 100%;
  font-size: ms(-2);
  padding: 9px 3px;
  color: $white;
  transition: background-color .15s ease-in-out .03s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-awesome {
  critical: this;
  height: 15px;
  width: 15px;
  margin-right: 6px;

  path {
    fill: $white;
  }
}

@each $social-name, $social-color in $social-icons {
  .widget-contact__link--#{$social-name} {
    &:hover,
    &:focus,
    &:active {
      background-color: $social-color;
    }
  }
}
