mixin inlineSvg(file)
  if (file.indexOf('.svg') != -1)
    if (inline_svg)
      !=inline_svg(file)
  else
    img(src=file, alt="Inline image")

- var urlFor = (link) => (url_for) ? url_for(link) : link
