.details {
  background-color: $color-beta;
  border-bottom: 1px solid lighten($color-alpha, 40%);
  border-top: 1px solid lighten($color-alpha, 40%);
  font-size: ms(-2);
  margin-top: rem(7px);

  @include mq($from: desktop) {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.details__list {
  @include zero-box;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  list-style: none;

  @include mq($from: desktop) {
    align-items: baseline;
    flex-direction: row;
  }

  &:not(:empty) {
    padding: rem(5px) 0;
  }
}

.details__item {
  flex: 1 1 auto;

  @include mq($from: desktop) {
    flex: 0 1 auto;

    & + & {
      margin-left: rem(10px);
    }
  }

  .text,
  .tally {
    display: block;
    text-align: center;
  }
}
