.header {
  background-image: bg-v();

  @include mq($from: desktop) {
    background-image: bg-h();
  }
}

.nav__checkbox {
  position: absolute;
  left: -9999px;
}

.nav__toggle {
  display: block;
  position: absolute;
  top: rem(35px);
  right: rem(20px);
  height: rem(30px);
  width: rem(30px);
  border-radius: rem(5px);
  background-image: linear-gradient(to bottom, $color1 20%, transparent 20%, transparent 40%, $color1 40%, $color1 60%, transparent 60%, transparent 80%, $color1 80%);
  text-indent: -9999px;
  cursor: pointer;
  z-index: 1;
  @include tra;

  .nav__checkbox:checked + & {
    background-image: linear-gradient(45deg, transparent 40%, $color1 40%, $color1 60%, transparent 60%), linear-gradient(-45deg, transparent 40%, $color1 40%, $color1 60%, transparent 60%);
  }

  @include mq($from: desktop) {
    display: none;
  }
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: center;
  @include zero-box;

  @include mq($from: desktop) {
    flex-direction: row;
    align-items: stretch;
  }
}

.nav__item {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: 120px;
  font-size: ms(-4);
  @include tra;

  &:hover {
    background-color: transparentize($white, .85);
  }

  @include mq($until: desktop) {
    &:not(:nth-child(1)) {
      display: none;

      .nav__checkbox:checked ~ .nav__list & {
        display: flex;
      }
    }
  }

  .nav__list--2 & {
    @include mq($from: desktop) {
      &:nth-child(-n + 2) {
        order: 0;
      }

      &:nth-child(n + 3) {
        order: 2;
      }
    }
  }

  .nav__list--4 & {
    @include mq($from: desktop) {
      &:nth-child(-n + 3) {
        order: 0;
      }

      &:nth-child(n + 4) {
        order: 2;
      }
    }
  }

  .nav__list--6 & {
    width: 96px;
    font-size: ms(-6);

    @include mq($from: desktop) {
      &:nth-child(-n + 4) {
        order: 0;
      }

      &:nth-child(n + 5) {
        order: 2;
      }
    }
  }

  .nav__list--8 & {
    width: 73px;
    font-size: ms(-8);

    @include mq($from: desktop) {
      &:nth-child(-n + 5) {
        order: 0;
      }

      &:nth-child(n + 6) {
        order: 2;
      }
    }
  }

  [class*="nav__list--"] & {
    &:nth-child(1) {
      order: 1;
    }
  }
}

.nav__link {
  padding: rem(15px) 0;
  position: relative;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  @include tsh;
  @include ls(100);

  svg {
    display: block;
    height: rem(50px);
    width: rem(50px);
    border-radius: rem(35px);
    background-color: $white;
    border: rem(10px) solid $white;
  }
}
