.home {
  color: $white;

  display: flex;
  flex-direction: column;
  margin-top: rem(20px);

  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: rem(30px);
  }

  a {
    color: inherit;
    word-break: break-word;
  }
}

.home__box {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: rem(40px) rem(20px) rem(20px);
  // min-height: 200px;

  &:not(:last-of-type) {
    margin-bottom: rem(30px);
  }

  @supports (display: grid) {
    min-height: unset;

    &:not(:last-of-type) {
      margin-bottom: unset;
    }
  }

  &:nth-of-type(odd) {
    background-image: bg-v();

    @supports (display: grid) {
      grid-column: 1 / span 2;
    }
  }

  &:nth-of-type(even) {
    background-image: bg-v($black);

    @supports (display: grid) {
      grid-column: 2 / span 2;
    }
  }

  @supports (display: grid) {
    @for $i from 1 through 6 {
      &:nth-of-type(#{$i}) {
        grid-row: #{$i};
      }
    }
  }

  h1,
  h3 {
    @include ls(100);
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    @include ls(50);
  }

  ul {
    margin: 0;
  }
}
